/* Quitar todo lo que viene por defecto en el body*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.contenedor {
  margin: 20px;
  border: 1px solid black;
  display: grid;
  grid-gap: 0;
  grid-template-columns:repeat(11, 1fr);
  grid-template-rows:repeat(1fr, auto);
  justify-content: space-between;
}

/* Estilos para la Navbar */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  padding-top: .9em;
  padding-bottom: .9em;
  padding-left: 2rem;
  padding-right: 2rem;
  background: rgba(169,3,41,1);
  background: -moz-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169,3,41,1)), color-stop(44%, rgba(143,2,34,1)), color-stop(100%, rgba(109,0,25,1)));
  background: -webkit-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -o-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -ms-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );
}

.logo{
  letter-spacing: 2px;
  text-transform: uppercase;
}

.ulinks{
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.ulinks, .unlinks li{
  list-style: none;
}

.ulinks, .unlinks, .logo a{
  text-decoration: none;
  color: #fff!important;
}

/*Deostracion de como se usa el grid system
.links{
  grid-column: 3/10;
  box-sizing: border-box;
}*/

.ulinksitem{
  color: #E9ECF4;
  padding: .5rem;
}

.ulinksitem:hover{
  color:rgba(169,3,41,1);
  background-color: seashell;
  border-radius: 3px;
  cursor: pointer;
}

.btn{
  border: 1px solid #E9ECF4;
  border-radius: .25rem;
  padding: .375rem .75rem!important;
}

.btn:hover{
  color: rgba(169,3,41,1) !important;
  background-color: white;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.separador-v{
  display: none;
  width: 2px;
  height: 30px;
  background-color: seashell;
}

@media (max-width: 1270px) { 
  .ulinks{
    width: 40%;
  }
}

@media (max-width: 970px) { 
  .ulinks{
    width: 50%;
  }
}

@media (max-width: 830px) { 
  .ulinks{
    width: 50%;
  }

}

@media (max-width: 700px) { 
  .ulinks{
    width: 60%;
  }

}

@media (max-width: 600px) { 
  .ocultar{
    display: none;
  }

  .ulinks{
    width: 40%;
  }
    .separador-v{
      display: block;
  }
}