/* Quitar todo lo que viene por defecto en el body*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.contenedor {
  display: grid;
  grid-gap: 0;
  grid-template-columns:repeat(12, 1fr);
  grid-template-rows:repeat(1fr, auto);
  justify-content: space-between;
}

/* Estilos para la Navbar */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  opacity: 1;
  min-height: 8vh;
  padding-top: .9em;
  padding-bottom: .9em;
  padding-left: 2rem;
  padding-right: 2rem;
  background: rgba(169,3,41,1);
  background: -moz-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169,3,41,1)), color-stop(44%, rgba(143,2,34,1)), color-stop(100%, rgba(109,0,25,1)));
  background: -webkit-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -o-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -ms-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );
  border-bottom: 2px solid white;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.14);
  z-index: 100;
}

.logo{
  letter-spacing: 2px;
  text-transform: uppercase;
}

.ulinks{
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.ulinks, .unlinks li{
  list-style: none;
}

.ulinks, .unlinks, .logo a{
  text-decoration: none;
  color: #fff!important;
}

.ulinksitem{
  color: #E9ECF4;
  padding: .5rem;
}

.ulinksitem:hover{
  color:rgba(169,3,41,1);
  background-color: seashell;
  border-radius: 3px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.btn{
  border-radius: .25rem;
  padding: .375rem .75rem!important;
}

.btn:hover{
  color: rgba(169,3,41,1) !important;
  background-color: white;
}

.separador-v{
  display: none;
  width: 2px;
  height: 30px;
  background-color: seashell;
}

/*Deostracion de como se usa el grid system
.links{
  grid-column: 3/10;
  box-sizing: border-box;
}*/

.f-awesome-size{
  color: #fff;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.redes-sociales{
  margin-top: 100px; 
  background: rgba(169,3,41,1);
  background: -moz-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169,3,41,1)), color-stop(44%, rgba(143,2,34,1)), color-stop(100%, rgba(109,0,25,1)));
  background: -webkit-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -o-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -ms-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );
  position: fixed;
  display: flex; 
  align-items: center; 
  justify-content: space-around;
  flex-direction: column;
  border-radius: 2px; 
  padding: 10px; 
  border-top: 3px solid white; 
  border-bottom: 3px solid white;   
  border-right: 3px solid white; 
  box-shadow: 10px 10px 102px 0px rgba(0,0,0,0.2);
}

.burger1{
  margin-top: 100px;
  margin-left: 57px;
  background: rgba(169,3,41,1);
  background: -moz-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169,3,41,1)), color-stop(44%, rgba(143,2,34,1)), color-stop(100%, rgba(109,0,25,1)));
  background: -webkit-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -o-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -ms-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );
  position: fixed;
  border-radius: 2px; 
  border-top: 3px solid white; 
  border-bottom: 3px solid white;   
  border-right: 3px solid white; 
  box-shadow: 10px 10px 102px 0px rgba(0,0,0,0.2);
}

.info{
  transform: translateX(-50px);
  transition: transform 0.4s ease-in-out;
}

.info-active{
  transform: translateX(0);
}

@media (max-width: 1270px) {
  /*Media Querys De La Navbar*/ 
  .ulinks{
    width: 40%;
  }
}

@media (max-width: 970px) { 
  /*Media Querys De La Navbar*/ 
  .ulinks{
    width: 50%;
  }
}

@media (max-width: 830px) { 
  /*Media Querys De La Navbar*/ 
  .ulinks{
    width: 50%;
  }

}

@media (max-width: 700px) { 
  /*Media Querys De La Navbar*/ 
  .ulinks{
    width: 60%;
  }


  .f-awesome-size{
    font-size: 20px;
  }

}

@media (max-width: 600px) { 
  /*Media Querys De La Navbar*/ 
  .ocultar{
    display: none;
  }

  .ulinks{
    width: 40%;
  }
    .separador-v{
      display: block;
  }
}